<!doctype html>
<html lang="es">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel='shortcut icon' type='image/x-icon' href='images/Lab2/lab02-favicon.ico' />
  <meta property="og:type" content="article" />
  <meta property="og:title" content="El ciclo de vida" />
  <meta property="og:description" content="El ciclo de vida es el proceso natural por el que atraviesan todos los seres vivos desde que nacen hasta que mueren." />
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="css/activity2.css">
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600;700&display=swap" rel="stylesheet">
  <title>¡Exploremos los ciclos de vida de algunos seres vivos</title>
</head>

<body>
  <header class="header-mep">
    <div class="mep-unesco-logo">
      <div class="header-mep-icon"><a href="https://www.mep.go.cr/" target="_blank"><img src="images/logo-mep.svg" alt="Logo MEP"></a></div>
    </div>
    <div class="header-title-image d-flex"><img src="images/Lab2/lab02-title.svg" style="width: 400px;" alt="Explorando el sistema digestivo"></div>
  </header>
  <div id="app-2" class="activity200">
    <div class="modal fade bd-example-modal-lg activity200-modal" tabindex="-1" role="dialog" id="activity200-modal" data-backdrop="static" aria-hidden="true">
      <div class="modal-dialog modal-lg modal-centered">
        <div class="modal-content">

          <div class="modal-body">
            <div class="row">
              <div class="col-12">
                <img @click="initialSound()" class="activity200-modal-start" src="images/Lab2/lab02-btn-iniciar.svg" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <a class="activity200-cycle-go-back" v-show="hideMenu" @mouseover="buttonSound('boton03')" @click="cleanActivity(true, 3)"><img src="images/Lab2/lab02-btn-regresar.svg" alt=""></a>
    <div class="container" v-show="!hideMenu">
      <div class="row">
        <div class="col">
          <div class="text-center">

            <h2 class="activity200-intro">El ciclo de la vida es el proceso natural por el que atraviesan todos los seres vivos desde que nacen hasta que mueren. <strong>Está divido en cuatro etapas principales: nacimiento, crecimiento y desarrollo, reproducción y muerte.<br/><br/>
            ¡Exploremos los ciclos de vida de algunos seres vivos! </h2>

            <p class="activity200-instructions">Seleccioná un ser para conocer su ciclo de vida:</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col activity200-menu">
          <div class="activity200-menu--item" v-for="(cycle, index) in cycles" :key="index">
            <div class="activity200-menu--item-container" @click="selectCycle(index)">
              <img :src="cycle.image"  @mouseover="buttonSound(cycle.code)" alt="">
            </div>

          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid" v-show="hideMenu && !showFeedback">
      <div class="row">
        <div class="col">
          <div class="text-center">
            <h2 class="activity200-cycle-title">¿Cuál es el ciclo de vida de <span class="h2-especie">{{selectedCycle.title}}</span>?</h2>
            <h4 class="activity200-cycle-subtitle d-none">¿Cuál es el ciclo de vida de {{selectedCycle.title ? selectedCycle.title.toLowerCase() : ''}}? </h4>
            <p class="activity200-cycle-instruction">Arrastrá las imágenes a los recuadros, según la etapa del ciclo de vida que representa cada una.</p>
          </div>
        </div>
      </div>
      <div class="">
        <div class="activity200-cycle">
          <div class="activity200-cycle--item" :class="`activity200-cycle--item-${selectedCycle.code}-${cycle.step}`"
            v-for="(cycle, index) in selectedCycle.cycle" :key="index">
            <div class="activity200-cycle--item-container" draggable="true"
              @dragstart='startDrag($event, `${selectedCycle.code}-${cycle.step}`, index)'>
              <img :src="cycle.image" v-if="!cycle.placed" alt="">
            </div>

          </div>
        </div>
        <div class="activity200-dropzone">
          <div class="activity200-dropzone--item" :class="`activity200-dropzone--item-${orderedCycle.code}-${index+1}`"
            v-for="(cycle, index) in orderedCycle.cycle" :key="index">
            <div class="activity200-dropzone--item-container"
              @drop='onDrop($event, orderedCycle.code, `${orderedCycle.code}-${index+1}`)' @dragover.prevent
              @dragenter.prevent>
              <img :src="cycle.image" v-if="orderedCycle.cycle[index].placed" alt="">
            </div>
          </div>
        </div>
        <div class="activity200-dropzone-label">
          <div class="activity200-dropzone-label--item" :class="{'activity200-dropzone-label--item-double': ['mariposa'].includes(orderedCycle.code) && index === 1}" v-for="(cycle, index) in orderedCycle.cycle" :key="index">
            <div class="activity200-dropzone-label--item-container" >
              <p>{{cycle.name}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container" v-show="showFeedback">
      <div class="row">
        <div class="col">
          <div class="text-center">
              <h2 class="activity200-feedback-title">¡Muy bien!</h2>
              <p class="activity200-feedback-message">{{selectedCycle.feedback}}</p>
              <img class="activity200-feedback-img" :src="`images/Lab2/lab02-ciclo-${selectedCycle.code}.png`" alt="imagen sobre ciclo de vida de seres vivos">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col activity200-feedback" v-show="!isFeedbackPlaying">
          
          <a class="activity200-modal-button" @click="cleanActivity(false, 1)"><img @mouseover="buttonSound('boton01')"  src="images/Lab2/lab02-btn-repetir.svg" alt=""></a>
          <a class="activity200-modal-button bigger" @click="cleanActivity(true, 2)"><img ref="button2" src="images/Lab2/lab02-btn-explorarotro.svg" alt=""></a>
        </div>
      </div>
    </div>
  </div>
  <footer class="footer-mep d-flex">
      <div class="footer-icon"><img src="images/logo-eds.svg" alt="Logo EDS"></div>
      <div class="footer-icon"><a href="https://es.unesco.org/fieldoffice/sanjose" target="_blank"><img src="images/logo-unesco.svg" alt="Logo UNESCO"></a></div>
  </footer>

  <script src="js/conf/200_ACT/activity200.js"></script>
  <script>
    let audioCycle = null;
    var app2 = new Vue({
      el: '#app-2',
      data: {
        cycles: activity2.cycles,
        selectedCycle: {},
        orderedCycle: {},
        hideMenu: false,
        showFeedback: false,
        audio: null,  
        audioFeedback: null,
        audioButtons: null,
        playPromise: null,
        isPlaying: false,
        isFeedbackPlaying: false,
        audioInitial: null,
      },
      mounted() {
        var myEfficientFn = this.debounce(() => { this.buttonSound('boton02'); }, 500);
        this.$refs.button2.addEventListener('mouseover', myEfficientFn);
        $('#activity200-modal').modal('show');
        
      },
      watch: {
        selectedCycle: {
          // This will let Vue know to look inside the array
          deep: true,

          // We have to move our method to a handler field
          handler(value) {
            this.hideMenu = this.selectedCycle.cycle && this.selectedCycle.cycle.length > 0;
          }
        }
      },
      methods: {
        initialSound(){
          this.audioInitial = new Audio("audios/lab02_audio-presentacion.mp3");
          this.audioInitial.play();
          $('#activity200-modal').modal('hide');
        },
        startDrag: (evt, code) => {
          evt.dataTransfer.dropEffect = 'copy';
          evt.dataTransfer.effectAllowed = 'move';
          evt.dataTransfer.setData('code', code);
        },
        onDrop(evt, cycleCode, dropCode) {
          evt.preventDefault();
          const dragCode = evt.dataTransfer.getData('code');
          let audioAnswer = null;
          if (dropCode === dragCode) {
            const index = this.selectedCycle.cycle.findIndex(element => `${cycleCode}-${element.step}` === dropCode);
            this.selectedCycle.cycle[index].placed = true;
            this.$forceUpdate();
            audioAnswer = new Audio("audios/correct-answer.mp3");
          }else {
            audioAnswer = new Audio("audios/wrong-answer.mp3");
          }
          audioAnswer.play();

          if (this.selectedCycle.cycle.every(elem => elem.placed)) {
            this.audio.pause();
            this.showFeedback = true;
            this.audioFeedback = new Audio(`audios/lab02_audio-retro-${this.selectedCycle.code}.mp3`);
            this.audioFeedback.play();
            this.isFeedbackPlaying = true;
            this.audioFeedback.addEventListener("ended", () => {
            this.isFeedbackPlaying = false;
          });
          }
        },
        selectCycle(index) {
          this.audioInitial && this.audioInitial.pause();
          this.selectedCycle = this.cycles[index];
          this.audio = new Audio(`audios/lab02_audio-pregunta-${this.selectedCycle.code}.mp3`);
          setTimeout(() => {
            this.playPromise = this.audio.play();
          }, 500);
          

          this.orderedCycle = {...this.selectedCycle};
          this.orderedCycle.cycle = [...this.selectedCycle.cycle].sort(function (a, b) {
            if (a.step > b.step) {
              return 1;
            }
            if (a.step < b.step) {
              return -1;
            }
            // a must be equal to b
            return 0;
          });
          
          this.$forceUpdate();

        },
        cleanActivity(goBack, audio) {
          this.audio && this.audio.pause();
          this.audioFeedback && this.audioFeedback.pause();
          this.audioButtons && this.audioButtons.pause();
          this.showFeedback = false;
          this.selectedCycle.cycle.forEach((element, index) => {
            element.placed = false;
          });
          
          if (goBack) {
            this.selectedCycle = {};
          }
          this.$forceUpdate();
        },
        buttonSound(audio) {
          if(!this.isPlaying){
            this.audioButtons && this.audioButtons.pause();
            this.audioButtons = new Audio(`audios/lab02_audio-${audio}.mp3`);
            this.audioButtons.play();
            this.isPlaying = true;
          }
          

          this.audioButtons.removeEventListener("ended", () => {});
          this.audioButtons.addEventListener("ended", () => {
            this.isPlaying = false;
          });

        },
        debounce(func, wait, immediate) {
          var timeout;
          return function() {
            var context = this, args = arguments;
            var later = function() {
              timeout = null;
              if (!immediate) func.apply(context, args);
            };
            var callNow = immediate && !timeout;
            clearTimeout(timeout);
            timeout = setTimeout(later, wait);
            if (callNow) func.apply(context, args);
          };
        },
      },
    });
  </script>
</body>

</html>