<!doctype html>
<html lang="es">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel='shortcut icon' type='image/x-icon' href='../images/lab3/lab03-favicon.ico' />
  <meta property="og:type" content="article" />
  <meta property="og:title" content="Explorando el sistema digestivo" />
  <meta property="og:description" content="¿Qué pasa cuando los alimentos ingresan a nuestro organismo?" />
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="../css/activity3.css">
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600;700&display=swap" rel="stylesheet">
  <title>Explorando el sistema digestivo</title>
</head>

<body>
  <header class="header-mep">
    <div class="header-title-image d-flex"><img src="../images/lab3/lab03-title.svg" style="width: 400px;" alt="Explorando el sistema digestivo"></div>
    <div class="mep-unesco-logo">
      <div class="header-mep-icon"><a href="https://www.mep.go.cr/" target="_blank"><img src="../images/logo-mep.svg" alt="Logo MEP"></a></div>
      <div class="header-mep-icon"><img src="../images/logo-politica-eds.png" alt="Logo EDS"></div>
    </div>
  </header>
  <div id="app-2" class="activity300">
    
    <div class="container" v-show="page == 0">
      <div class="row">
        <div class="col-sm-6">
          <h2 class="activity300title">¿Qué pasa cuando los alimentos ingresan a nuestro organismo?</h2>
          <p class="activity300-instructions">¡Te contamos cómo funciona el sistema digestivo!</p>
          <img class="activity300-instructions" src="../images/lab3/lab03-frutas.svg" alt="ilustración de frutas y vegetales">
        </div>
        <div class="col-sm-6 activity300-menu">
            <div class="activity300-menu--item digestion" @click="goTo(1)" ><a href="#"><img src="../images/lab3/lab03-btn1.svg" alt="botón la digestion"></a></div>
            <div class="activity300-menu--item organos" @click="goTo(2)"><a href="#"><img src="../images/lab3/lab03-btn2.svg" alt="botón Órganos del sistema digestivo"></a></div>
            <div class="activity300-menu--item proceso" @click="goTo(3)"><a href="#"><img src="../images/lab3/lab03-btn3.svg" alt="botón El proceso digestivo"></a></div>
            <div class="activity300-menu--item cuidados" @click="goTo(4)"><a href="#"><img src="../images/lab3/lab03-btn4.svg" alt="botón Cuidados del sistema digestivo"></a></div>
        </div>
      </div>
    </div>


<!--La digestión-->
    <div id="digestion" class="container-fluid" v-show="page === 1">
      <a class="activity300-cycle-go-back" v-show="page !== 0" @click="cleanActivity(true)"><img src="../images/Lab2/lab02-btn-regresar.svg" alt=""></a>
      <div class="row">
        <div class="col-sm-6">
          <h2 class="activity300title">La Digestión</h2>
          <p class="activity300-instructions">La digestión es el proceso de nuestro cuerpo que se encarga de transformar los alimentos que consumimos en nutrientes y energía, para ser absorbidos por el torrente sanguíneo y transportados a todas las células del organismo.</p>
        </div>
        <div class="col-sm-6">
          <img src="../images/lab3/lab03-fig.svg" alt="exploratoria" class="img-fluid">
        </div>
      </div> 
    </div>

<!--Organos-->
    <div id="organos" class="container-fluid" v-show="page === 2">
      <a class="activity300-cycle-go-back" v-show="page !== 0" @click="cleanActivity(true)"><img src="../images/Lab2/lab02-btn-regresar.svg" alt=""></a>
      <div class="row">
        <div class="col-sm-6">
          <h2 class="activity300title">Órganos del sistema digestivo</h2>
          <p class="activity300-instructions">Seleccioná un órgano para saber cuál es su función</p>
        </div>
        <div class="col-sm-6">
          <img src="../images/lab3/lab03-fig.svg" alt="exploratoria" class="img-fluid">
        </div>
      </div> 
    </div>


<!--Proceso-->
    <div id="proceso" class="container-fluid" v-show="page === 3">
      <a class="activity300-cycle-go-back" v-show="page !== 0" @click="cleanActivity(true)"><img src="../images/Lab2/lab02-btn-regresar.svg" alt=""></a>
      <div class="row">
        <div class=" col-6">
          
          <div class="activity300-dropzone">
            <h2 class="activity300title">El proceso digestivo</h2>
            <div class="activity300-dropzone--item" :class="`activity300-dropzone--item-${index+1}`"
              v-for="(step, index) in [1, 2, 3, 4, 5]" :key="index">
              <div class="activity300-dropzone--item-container"
                @drop='onDrop($event, index, `${index + 1}`)' @dragover.prevent
                @dragenter.prevent>
                <img :src="`../images/lab3/lab03-bxB${index + 1}.svg`" v-show="placedDropzone[index]" alt="">
              </div>
            </div>
          </div>
        </div>
        <div class="col-6 col-6">
          <div class="activity300-cycle-list-title" style="background-color: #00A99D;">
            <p class="mb-0">Arratrá las etapas del proceso según corresponda.</p>
          </div>
          <div class="activity300-cycle">
            <div class="activity300-cycle--item" :class="`activity300-cycle--item-${index+1}`"
            v-for="(step, index) in stepList" :key="index">
              <div class="activity300-cycle--item-container" draggable
                @dragstart='startDrag($event, `${step}`)'>
                <img :src="`../images/lab3/lab03-bxB${step}.svg`" v-show="placedList[index]" alt="">
              </div>
            </div>
          </div>
        </div>
    </div>
    <div class="modal fade bd-example-modal-lg activity300-modal" tabindex="-1" role="dialog" id="activity300-modal" data-backdrop="static" aria-hidden="true">
      <div class="modal-dialog modal-lg modal-centered">
        <div class="modal-content">

          <div class="modal-body">
            <div class="row">
              <div class="col-12">
                <p class="activity300-modal-title">¡Muy bien!</p>
                <p class="activity300-modal-message">Has completado el proceso de la digestión.</p>
              </div>
              <div class="col activity300-modal-button-container">
                <a class="activity300-modal-button" @click="cleanActivity()"><img src="../images/Lab2/lab02-btn-repetir.svg" alt=""></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--Cuidados-->
    <div id="cuidados" class="container-fluid" v-show="page === 4">
      <a class="activity300-cycle-go-back" v-show="page !== 0" @click="cleanActivity(true)"><img src="../images/Lab2/lab02-btn-regresar.svg" alt=""></a>
      <div class="row">
        <div class="col-sm-6">
           <h2 class="activity300title">Cuidados del sistema digestivo</h2>
           <div class="row activity300-cuidados-intro">
              <div class="col-sm-6"><img src="../images/lab3/lab03-frutas.svg" alt="ilustración de niño hablando" class="img-fluid">
              </div>
              <div class="col-sm-6">Para tener un sistema digestivo saludable podés poner en práctica las siguientes acciones:</div>
              </div>
            </div>
        <div class="col-sm-6">
           acá va carrusel
        </div>
      </div>        
    </div>
  </div>


  <script src="../js/conf/300_ACT/activity300.js"></script>
  <script>
    var app2 = new Vue({
      el: '#app-2',
      data: {
        cycles: activity2.cycles,
        selectedCycle: {},
        orderedCycle: {},
        hideMenu: false,
        page: 0,
        placedList: [true, true, true, true, true],
        placedDropzone: [false, false, false, false, false],
        stepList: [2, 5, 1, 3, 4],
      },
      mounted() {

      },
      watch: {
        selectedCycle: {
          deep: true,
          handler(value) {
            this.hideMenu = this.selectedCycle.cycle && this.selectedCycle.cycle.length > 0;
          }
        }
      },
      methods: {
        goTo(page){
          this.page = page;
        },
        startDrag: (evt, code) => {
          evt.dataTransfer.dropEffect = 'move';
          evt.dataTransfer.effectAllowed = 'move';
          evt.dataTransfer.setData('code', code);
        },
        onDrop(evt, index, dropCode) {
          const dragCode = evt.dataTransfer.getData('code');
          let audio = null;
          
          if (dropCode === dragCode) {
            const indexList = this.stepList.findIndex(element => `${element}` === dropCode);

            this.placedDropzone[index] = true;
            this.placedList[indexList] = false;
            this.$forceUpdate();
            audio = new Audio("../audios/correct-answer.mp3");
          }else {
            audio = new Audio("../audios/wrong-answer.mp3");
          }
          audio.play();
          if (this.placedDropzone.every(elem => elem === true)) {
            $('#activity300-modal').modal('show');
          }
        },
        cleanActivity(goBack) {

          $('#activity300-modal').modal('hide');
          this.placedList = [true, true, true, true, true];
          this.placedDropzone = [false, false, false, false, false];
          this.$forceUpdate();
        }
      },
    });
  </script>
</body>

</html>